@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

img {
    width: 100%;
}

.primary-font {
    font-family: 'Merriweather', serif;
}

.secondary-font {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin-inline: auto;
}

section {
    margin-block: 100px;
}

.header-bg {
    position: relative;
    margin-top: 50px;
    background-image: url(./resources/BannerImage.png);
    height: 600px;
    border-radius: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.header-content {
    z-index: 100;
}

.header-bg h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.header-bg h1 {
    margin-top: 10px;
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
}

/* discount section  */
.discount-sec {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

.discount-sec img {
    margin-top: 50px;
    width: 802.9px;
    height: 500px;
}

.discount-sec h1 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 15px;
}

.discount-sec span {

    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.discount-sec h3 {
    margin-top: 5px;
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

/* midnight-party section  */
.midnight-party-sec {
    position: relative;
    margin-top: 50px;
    background-image: url(./resources/Vectorrr.png);

    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    margin-bottom: 100px;
    padding-inline: 100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.midnight-party-sec-content {
    width: 100%;
    border-radius: 16px;
    position: relative;
    z-index: 1;

}

.content-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-outer img {
    padding-block: 50px;
}

.midnight-party-sec-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;

}

.midnight-party-sec-content p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
}


.midnight-party-sec-content button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* .midnight-party-sec-content div:last-child {
    margin-top: 50px;
} */

/* 
.midnight-party-sec-content .content-2 {
    fill: linear-gradient(3deg, #C3852F 10.52%, #DBAD50 16.58%, #EECC69 21.78%, #F9DF78 26.11%, #FDE67E 29.57%, #FAE27B 37.36%, #F2D772 44.29%, #E4C362 52.08%, #D1A84D 59.01%, #C1933C 63.33%, #BE8F39 64.2%, #A26B1F 71.99%, #915410 78.92%, #8B4C0A 82.38%, #9A5F09 88.44%, #AA7307 97.1%);
    ;
    mix-blend-mode: multiply;
    z-index: 100;
} */

/* schedu{le section  */
.schedule-sec {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-block: 100px;
    margin-bottom: 100px;
    border-radius: 16px;
    /* border: 2px solid black; */
}

.schedule-sec-content {
    text-align: center;
}

.schedule-sec-content h3 {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    text-transform: capitalize;
}

.schedule-sec-content span {
    color: #F00;
}

/* coming-soon-section  */
.coming-soon-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;

}


.coming-soon-sec div {
    width: 100%;
}

.coming-soon-sec h3 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.coming-soon-sec h2 {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.coming-soon-sec p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;


}

.coming-soon-sec h1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;

}


.coming-soon-sec-img img {
    width: 100%;
    border: 10px solid white;
    outline: 15px solid #F00;
    border-radius: 100%;
}



.coming-soon-right-img img {
    width: 140px;
    height: 140px;

}

.coming-soon-right-img h1 {
    margin-top: 40px;
}

/* discount section  */
.discount-sec-header {
    text-align: center;
}

.discount-sec-header h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;

}

.discount-sec-header h1,
.discount-sec-header span {
    color: #000;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

.discount-sec-header span {
    color: #F00;
}

.discount-sec-header p {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: -50px;
}



.discount-card div:first-child {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.discount-card .left-img {
    position: absolute;
    bottom: -150px;
}

.discount-card .left-img img {
    width: 80%;
}

.discount-card .right-img {
    position: absolute;
    right: 0;
}

.discount-card .right-img img:first-child {
    position: absolute;
    left: -50%;
}

.discount-card div:last-child {
    margin: -2px;
    padding: 0;

}

.discount-card div:last-child img {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* portfolio section  */

.portfolio-sec-content {
    text-align: left;
    margin-bottom: 40px;
}

.portfolio-sec-content h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-sec-content h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}


.portfolio-sec-content p {
    max-width: 600px;
}

.portfolio-img {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
    margin-bottom: 24px;
}

/* subscription section  */
.subscribtion-sec {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding-block: 80px;
}

.subscribtion-sec-content {
    text-align: center;

}

.subscribtion-sec-content p {
    max-width: 800px;
    margin-inline: auto;
}

.subscribtion-sec-content img {
    width: 150px;
    height: 150px;
}

.subscribtion-sec-content div input,
.subscribtion-sec-content div button {
    margin-top: 24px;
    border: none;
    padding-block: 20px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.subscribtion-sec-content div input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding-inline: 10px;
}

.subscribtion-sec-content div button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    padding-inline: 30px;
    margin-left: -5px;

}

/* footer  */
footer {
    background: #070211;
    padding-block: 80px;
}

.footer-content-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;


}

.contact div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact img {
    width: 24px;

}

hr {
    border-color: rgba(255, 255, 255, 0.15);
    margin-block: 50px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-icon img {
    width: 64px;
    height: 64px;

}